body {
    display: flex;
    align-items: center;
    background-color: #181818;
    color: white;
    font-family: monospace;
    height: 100vh;
    margin: 0;
}

#etch-a-sketch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    background-color: #212121;
    border-radius: 15px;
    width: 704px;
    height: 704px;
    margin: auto;
}

h1 {
    margin: -8px;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(0, 0, 0, 0.15);
    width: 512px;
    height: 512px;
}

#options {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: #424242;
    border-radius: 5px;
    width: 512px;
    padding: 16px;
}

#options-left {
    display: flex;
    gap: 16px;
}

button {
    cursor: pointer;
    width: 55px;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
}

.selected {
    background-color: lime;
}

.squares-btn {
    background-color: deepskyblue;
}

#clear-btn {
    background-color: red;
    font-weight: bold;
}
